body
{
	margin-top:0px;
	background:url(../bg.jpg)repeat;
	background-size:100%;
	background-position:center;
}
.blink{animation:blink-animation 1s steps(2,start) infinite;
-webkit-animation:blink-animation 0.8s steps(5,start) infinite
}
@keyframes blink-animation
{to{visibility:hidden}}

@-webkit-keyframes blink-animation
{to{visibility:hidden}}
@media(min-width:992px){body{margin-top:150px}}